<% content_for :form do %>
  <%= form_for(resource, as: resource_name, url: edit_user_registration_password_url, html: { method: :put, class: 'mb-3' }) do |f| %>

    <div class="row username-img">
      <div class="col-sm-3 text-right">
        <%= image_tag avatar_url(@user, 38), width: '38', height: '38', class: 'round-img' %>
      </div>
      <div class="col-sm-9">
        <p><%= @user.name %></p>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :current_password, class: 'col-sm-3 col-form-label text-right font-weight-bold' %>
      <div class="col-sm-9">
        <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control col-sm-9' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, 'New Password', class: 'col-sm-3 col-form-label text-right font-weight-bold' %>
      <div class="col-sm-9">
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control col-sm-9' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, 'New Password Confirmation', class: 'col-sm-3 col-form-label text-right font-weight-bold' %>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control col-sm-9' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'devise/shared/profile_edit_base', :locals =>{ active: 'password_edit' } %>