<% content_for :form do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'mb-3' }) do |f| %>

    <div class="row username-img">
      <div class="col-sm-3 text-right">
        <%= image_tag avatar_url(@user, 38), width: '38', height: '38', class: 'round-img' %>
      </div>
      <div class="col-sm-9">
        <p><%= @user.name %></p>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :name, class: 'col-sm-3 col-form-label text-right font-weight-bold' %>
      <div class="col-sm-9">
        <%= f.text_field :name, autofocus: true, class: 'form-control col-sm-9' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :website, class: 'col-sm-3 col-form-label text-right font-weight-bold' %>
      <div class="col-sm-9">
        <%= f.text_field :website, class: 'form-control col-sm-9' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :bio, class: 'col-sm-3 col-form-label text-right font-weight-bold' %>
      <div class="col-sm-9">
        <%= f.text_field :bio, class: 'form-control col-sm-9' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :email, class: 'col-sm-3 col-form-label text-right font-weight-bold' %>
      <div class="col-sm-9">
        <%= f.email_field :email, class: 'form-control col-sm-9' %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'devise/shared/profile_edit_base', :locals =>{ active: 'profile_edit' } %>