<% content_for :form do %>
  <h6 class="light-color"><strong>Sign up to see photos and videos from your friends.</strong></h6>
  <hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mb-3' }) do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Repeat password', class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary login-button' %>
    </div>
  <% end %>

  <hr>
  <p class="light-color">By signing up, you agree to our <strong>Term &amp; Privacy Policy.</strong></p>

<% end %>

<%= render 'devise/shared/dummy_phone' %>
<%= render 'devise/shared/devisemes' %>