<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <% unless @results.nil? %>
      <% if @results.empty? %>
        <h2>No posts found matching your query.</h2>
      <% else %>
        <h2>Search results</h2>

        <% @results.each do |result| %>
          <%= render :partial => 'search/post', :locals => { result: result } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

