<div class="landing">
  <div class="row">
    <div class="col-lg-6 landing-left">
      <div class="dummy-phone">
        <div class="screen-shot">
          <div class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <% random_image_index = rand(5) %>
              <div class="carousel-item <% if random_image_index == 0 %>active<% end %>">
                <%= image_tag 'screenshot1.jpg', height: 427, width: 240 %>
              </div>
              <div class="carousel-item <% if random_image_index == 1 %>active<% end %>">
                <%= image_tag 'screenshot2.jpg', height: 427, width: 240 %>
              </div>
              <div class="carousel-item <% if random_image_index == 2 %>active<% end %>">
                <%= image_tag 'screenshot3.jpg', height: 427, width: 240 %>
              </div>
              <div class="carousel-item <% if random_image_index == 3 %>active<% end %>">
                <%= image_tag 'screenshot4.jpg', height: 427, width: 240 %>
              </div>
              <div class="carousel-item <% if random_image_index == 4 %>active<% end %>">
                <%= image_tag 'screenshot5.jpg', height: 427, width: 240 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 landing-right d-flex align-items-center flex-column">
      <div>
        <div class="form-login box">
          <h2 class="core-sprite brand-name-icon"></h2>
          <%= yield :form %>
        </div>
      </div>
      <div class="redirect-links box">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>