<div class="row edit-profile-wrapper">
  <div class="col-sm-3 left-col">
    <div class="list-group">
      <%= link_to 'Edit profile', edit_user_registration_path, class: "list-group-item list-group-item-action #{ active == 'profile_edit' ? 'current' : '' }" %>
      <%= link_to 'Change password', edit_user_registration_password_path, class: "list-group-item list-group-item-action #{ active == 'password_edit' ? 'current' : '' }" %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action' %>
    </div>
  </div>
  <div class="col-sm-9 right-col">
    <%= yield :form %>
  </div>
</div>

<%= render 'devise/shared/devisemes' %>