<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <%= image_tag avatar_url(@user, 152), width: '152', height: '152', class: 'round-img' %>
  </div>
  <div class="col-md-8">
    <div class="row align-items-center">
      <div class="username"><%= @user.name %></div>
      <% if @user === current_user %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-outline-dark common-btn edit-profile-btn' %>
        <button type="button" class="core-sprite settings-icon settings" data-toggle="modal" data-target="#user-settings-modal"></button>

        <div class="modal fade" id="user-settings-modal" tabindex="-1" role="dialog" aria-labelledby="user-settings-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="user-settings-modal-label">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="list-group text-center">
                <a href="#" class="list-group-item list-group-item-action">Change Password</a>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action' %>
                <a href="#" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <p class="email"><%= @user.email %></p>
    </div>
  </div>
</div>