<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">

    <%=link_to '', root_path, { class: 'navbar-brand core-sprite', aria_label: 'Instagram logo' } %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# TODO: Update me %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 ml-md-auto" method="get" action="/search">
        <input class="form-control mr-sm-2 text-center" type="search" placeholder="Search" aria-label="Search" name="query" required>
      </form>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a class="nav-link core-sprite explore-icon" href="#" aria-label="Explore"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link core-sprite notification-icon" href="#" aria-label="Notification"></a>
        </li>
        <li class="nav-item">
          <%= link_to '', user_path(current_user), class: 'nav-link core-sprite profile-icon', aria_label: 'User' %>
        </li>
      </ul>
    </div>
  </div>
</nav>