<% content_for :form do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-check mb-3">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary login-button' %>
    </div>
  <% end %>
<% end %>

<%= render 'devise/shared/dummy_phone' %>