<% liked = is_liked.present? %>
<div class="core-sprite like-icon<% if liked %> filled<% end %> like-action"
     data-action="/api/like/<%= post.id %>" data-liked="<%= liked %>" data-post-id="<%= post.id %>"></div>