<% case likes.size %>
<% when 0 %>
  Be the first to like this post!
<% when 1 %>
  <b><%= likes[0].user.name %></b> likes this
<% when 2 %>
  <b><%= likes[0].user.name %></b> and <b><%= likes[1].user.name %></b> like this
<% else %>
  <b><%= likes[0].user.name %></b>, <b><%= likes[1].user.name %></b> and
  <b><span title="<%= likes.slice(2, likes.size - 2).map{|like| like.user.name}.join(', ') %>"><%= pluralize(likes.size - 2, 'other') %></span></b> like this
<% end %>