<div class="carousel slide" data-ride="carousel" id="carousel-post-<%= post.id %>">
  <div class="carousel-inner">
    <% post.photos.each do |photo| %>
      <div class="carousel-item <% if post.photos.first == photo %>active<% end %>">
        <%= image_tag photo.image.url(:standard), class: 'd-block w-100' %>
      </div>
    <% end %>
  </div>
  <% if post.photos.length > 1 %>
    <a class="carousel-control-prev" href="#carousel-post-<%= post.id %>" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-post-<%= post.id %>" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  <% end %>
</div>