<% @posts.each do |post| %>
  <div class="card mt-3 post">
    <div class="card-header d-flex align-items-center">
      <%= link_to user_path(post.user)  do %>
        <%= image_tag avatar_url(post.user), class: 'post-author-icon' %>
      <% end %>
      <%= link_to user_path(post.user), class: 'normal-color post-author-text', title: post.user.name do %>
        <b><%= post.user.name %></b>
      <% end %>

      <%= link_to post_path(post), method: :delete, class: 'ml-auto delete-post-icon mx-0 my-auto' do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </div>

    <%= render 'photos', { post: post } %>

    <div class="card-body">
      <div class="row-actions d-flex">
        <%= render 'like_icon', { is_liked: post.is_liked(current_user), post: post } %>
        <div class="core-sprite comment-icon" aria-label="Comment"></div>
        <div class="core-sprite bookmark-icon ml-auto" aria-label="Bookmark"></div>
      </div>
      <div class="like-text" data-post-id="<%= post.id %>">
        <%= render 'like_text', { likes: post.likes } %>
      </div>
      <div>
        <span><b><%= post.user.name %></b></span>
        <span><%= post.content %></span>
      </div>
      <%= link_to "#{ time_ago_in_words(post.created_at) } ago", post_path(post), class: 'light-color post-time' %>
      <hr>
      <div class="row-actions d-flex">
        <form action="#" class="w-100">
          <div>
            <textarea class="form-control comment-input border-0" placeholder="Add a comment..." rows="1"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>