<div class="d-flex flex-column align-items-center mt-3">
  <div class="row post box col-xl-10 col-lg-11 col-xs-12">
    <div class="col-lg-8 col-md-7 d-flex post-show-img">
      <div class="align-self-center">
        <%= render 'photos', { post: @post } %>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 mt-sm-4 mt-md-0 card">
      <div class="row px-3 d-flex align-items-center card-header">
        <%= link_to user_path(@post.user), class: 'no-text-decoration' do %>
          <%= image_tag avatar_url(@post.user), class: 'post-author-icon' %>
        <% end %>
        <%= link_to user_path(@post.user), class: 'normal-color no-text-decoration d-flex align-self-center', title: @post.user.name do %>
          <b><%= @post.user.name %></b>
        <% end %>

        <%= link_to post_path(@post), method: :delete, class: 'ml-auto delete-post-icon mx-0 my-auto' do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <hr class="mb-0">
      <div class="comment-list py-2">
        <% if @post.content.present? %>
          <div>
            <span><b><%= @post.user.name %></b></span>
            <span><%= @post.content %></span>
          </div>
        <% end %>
        <%# load comment %>
        <% 100.times do %>
          <div>
            <span><b>Hallo M151 Instagram</b></span>
            <span>Kommentar</span>
          </div>
        <% end %>
      </div>
      <hr class="mt-0">
      <div class="row-actions d-flex">
        <%= render 'like_icon', { is_liked: @is_liked, post: @post } %>
        <div class="core-sprite comment-icon" aria-label="Comment"></div>
        <div class="core-sprite bookmark-icon ml-auto" aria-label="Bookmark"></div>
      </div>
      <div class="like-text" data-post-id="<%= @post.id %>"><%= render 'like_text', { likes: @post.likes } %></div>
      <div class="light-color post-time"><%= time_ago_in_words(@post.created_at) %> ago</div>
      <hr>
      <div class="row-actions d-flex">
        <form action="#" class="w-100">
          <div>
            <textarea class="form-control comment-input border-0" placeholder="Add a comment ..." rows="1"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>