$color-background-base: #fafafa;
$color-background-highlight: white;

$color-font-base: #262626;
$color-font-light: #999;

$color-border-base: #e6e6e6;
$color-border-input: #efefef;
$color-border-upload: #dddfe2;
$color-border-upload-hover: #007bff;

$color-border-profile-edit: #dbdbdb;