@import "colors";

.edit-profile-wrapper {
  margin: 3.75rem 0 0;

  .left-col {
    border: 1px solid $color-border-profile-edit;
    padding: 0;
    background-color: $color-background-highlight;

    .list-group-item {
      border: none;
      color: $color-font-base;
      border-radius: 0;
      font-size: 1rem;
      border-left: 2px solid transparent;
    }
    .list-group-item.current {
      font-weight: bold;
      border-left-color: $color-font-base;
    }
    .list-group-item:not(.current):hover {
      border-left-color: $color-border-profile-edit;
    }
  }

  .right-col {
    border: 1px solid $color-border-profile-edit;
    border-left: none;
    background-color: $color-background-highlight;

    .username-img {
      margin: 2rem 0;
    }
    .col-sm-9 {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.25rem;
    }
  }
}
