@import 'colors';

.light-color {
  color: $color-font-light;
}

.round-img {
  border-radius: 50%;
}

.common-btn {
  line-height: 1.75rem;
  padding: 0 1.75rem;
  border-color: #dbdbdb;
  font-size: 0.875rem;
}