@import "colors";

.landing {
  margin-top: 8em;
}

.landing-left {
  .dummy-phone {
    background: image-url("dummy-phone-2x.png") no-repeat right 0;
    background-size: 454px 618px;
    position: relative;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
  }

  .screen-shot {
    position: absolute;
    top: 99px;
    right: 63px;
  }
}

.landing-right {
  .form-login {
    form {
      .login-button {
        width: 100%;
        font-size: 0.875rem;
        font-weight: bold;
      }

      input {
        border: 1px solid $color-border-input;
      }

      .form-check-label {
        padding: 0;
        font-size: 0.9375rem;
        color: $color-font-base;
      }
    }

    .brand-name-icon {
      margin: 1.4rem auto 0.5rem;
    }
  }

  .box {
    background-color: $color-background-highlight;
    border: 1px solid $color-border-base;
    border-radius: 1px;
    padding: 0.625rem 2.5rem;
    margin: 0 0 0.625rem;
    width: 22rem;
  }
}