@import "colors";

.nav-item:not(first-child){
  margin-left: 1.875rem;
}

.navbar {
  background-color: $color-background-highlight;
  border-bottom: 1px solid rgba(0,0,0,.0975);

  > * {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  }
}
