@import "colors";

.post {
  .post-author-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.625rem;
  }

  .post-author-text {
    text-decoration: none;
    color: #262626;

    &:hover {
      text-decoration: none;
    }
  }

  .card-header {
    background-color: $color-background-base;
  }

  .card-body {
    padding: 0.25rem 1rem;
  }

  .actions {
    margin: 0.75rem;
  }

  .post-time {
    margin-top: 0.25rem;
    font-size: 0.625rem;
  }

  .comment-input {
    font-size: 0.875rem;
    height: 5rem;
  }
}


.dz-image-preview {
  margin: 0.125rem;
}

.dz-image {
  border-radius: 0;

  img {
    width: 100%;
  }
}

.dz-remove {
  // INSERT CODE HERE
}

.dropzone .dz-preview:hover .dz-remove {
  opacity: 1
}

.upload-photos-icon {
  height: 7.5rem;
  width: 7.5rem;
  border: 0.125rem dashed $color-border-upload;
  border-radius: 0.125rem;
  margin: 1rem;

  color: $color-border-upload;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-delay: 0ms;

  i {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.dz-drag-hover {
  .upload-photos-icon {
    color: $color-border-upload-hover;
    border-color: $color-border-upload-hover;
  }
}

// Post view

.comment-list {
  height: 19.375rem;
  overflow: auto;
}

.post-show-img {
  background-color: $color-background-base;
  margin: -0.625rem 0;
}

// Delete

.delete-post-icon {
  color: $color-font-base;
  font-size: 1.25rem;
}

.delete-comment {
  width: 0.6875rem;
  height: 0.6875rem;
  background-position: -216 -112px;
  float: right;
  margin: 5px 0 0 10px;
}

.row-actions {
  div:hover {
    cursor: pointer;
  }
}