.core-sprite {
  background: image-url("core-sprite-2x.png") no-repeat;
  background-size: 405px 379px;
}

.navbar-brand {
  background-position: -176px 0;
  width: 176px;
  height: 35px;
}

.explore-icon {
  background-position: -50px -355px;
  width: 24px;
  height: 24px;
}

.notification-icon {
  background-position: -125px -330px;
  width: 24px;
  height: 24px;
}

.profile-icon {
  background-position: -353px -198px;
  width: 24px;
  height: 24px;
}

.brand-name-icon {
  background-position: 0 0;
  width: 175px;
  height: 51px;
}

.settings-icon {
  background-position: -125px -355px;
  width: 24px;
  height: 24px;
}

.like-icon {
  background-position: -325px -329px;
  width: 24px;
  height: 24px;

  &.filled {
    background-position: -200px -329px;
  }
}

.comment-icon {
  background-position: -258px -175px;
  width: 24px;
  height: 24px;
}

.bookmark-icon {
  background-position: -150px -355px;
  width: 24px;
  height: 24px;

  &.filled {
    background-position: -353px -273px;
  }
}