.profile-wrapper {
  padding: 60px;
  border-bottom: 1px solid #EFEFEF;

  .username {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;

    margin-right: 1rem;
  }

  .edit-profile-btn {
    margin-right: 1rem;
  }

  .settings {
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  .email {
    font-size: 16px;
    font-weight: bold;
  }

}