// Libraries
@import "bootstrap";
@import "toastr";
@import "dropzone/dropzone";
@import "font-awesome";

// Local
@import "colors";
@import "sprites";
@import "navbar";

@import "landing-page";
@import "user-page";
@import "edit-profile";

@import "posts";

@import 'global';

body {
  background-color: $color-background-base;
  font-size: 0.875rem;
  color: $color-font-base;
}